* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-left {
  align-items: center;
}

.header-left a {
  flex-grow: 1;
}

.header-left .categories {
  flex-grow: 1;
  color: #5e646f;
}

.header-left form {
  flex-grow: 5;
  position: relative;
}

.header-left form .form-control {
  border: none;
  background-color: #f2f3f5;
  height: 44px;
  padding: 10px 12px;
  font-size: 12px;
}

.header-left form .form-control:focus {
  border: none;
  box-shadow: none;
}

.header-left form i {
  padding: 11px 12px;
  color: #ec5252;
  background-color: #f2f3f5;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 1.375rem;
  font-size: 0.875rem;
}

.header-right .nav-item .btn {
  font-size: 13px;
}

.header-right .nav-item .btn-ghost {
  border: 1px solid #9f9f9f;
  color: #8a92a3;
  font-size: 1rem;
}

.header-right .nav-item .btn-full {
  background-color: #ea5252;
  color: #fff;
  margin-left: 0.3rem;
  font-size: 1rem;
}

.header-right i {
  padding: 0 1rem;
}

.carousel {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 500px;
  width: 100%;
  background-size: contain;
}

.carousel form {
  flex-grow: 5;
  position: relative;
}

.carousel form .form-control {
  border: none;
  background-color: #f2f3f5;
  height: 44px;
  padding: 11px 17px;
  font-size: 18px;
}

.carousel form .form-control:focus {
  border: none;
  box-shadow: none;
}

.carousel form i {
  padding: 11px 14px;
  color: #ec5252;
  background-color: #f2f3f5;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 1.375rem;
  font-size: 1.2rem;
}

.carousel form {
  width: 80%;
}

.how-udemy-works {
  background: linear-gradient(to right, #731c52, #e54e52);
  color: #fff;
}

.how-udemy-works .row {
  padding: 1rem 0;
}

.how-udemy-works .row .col-md-4 .details {
  margin-left: 2rem;
}

.how-udemy-works .row .col-md-4 .details i {
  font-size: 3rem;
  padding-right: 1rem;
}

.how-udemy-works .row .col-md-4 .details .description p {
  margin: initial;
  font-weight: 700;
}

.discovery {
  margin: 2rem 0;
}

.discovery .row .col-md-4 {
  flex-direction: column;
  justify-content: center;
  background-color: #f7f8fa;
}

.discovery .row .col-md-4 .details p {
  font-size: 18px;
  font-weight: 700;
  margin: initial;
}

.discovery .row .col-md-4 .details span {
  width: 100px;
}

.discovery .row .col-md-8 .nav-tabs .nav-link {
  position: relative;
  padding: 0px 12px 11px 12px;
  font-size: 0.9375rem;
  max-width: 7rem;
  max-height: 4rem;
  text-decoration: none;
  color: #29303a;
  border: none;
}

.discovery .row .col-md-8 .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.discovery .row .col-md-8 .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 6px solid #007791;
}

.discovery .row .col-md-8 .tab-content {
  padding-top: 1rem;
}

.discovery .row .col-md-8 .tab-content .col-md-12 {
  padding: 0 0.5rem;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details {
  border: 1px solid #e3e3e5;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .pic img {
  width: 100%;
  border-bottom: 1px solid #e3e3e5;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description {
  padding: 1rem;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description h1 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description p {
  font-size: 12px;
  color: #7b8089;
  margin-bottom: 5px;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description i {
  color: #f4c150;
  font-size: 13px;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description span {
  font-size: 13px;
  color: #7b8089;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description .before {
  font-weight: 700;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description .price {
  text-align: right;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description .price del {
  font-size: 13px;
}

.discovery .row .col-md-8 .tab-content .col-md-12 .details .description .price span {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.discovery .row .col-md-8 .tab-content .slick-prev {
  top: 40%;
  left: -4%;
  z-index: 15;
  background-color: transparent;
}

.discovery .row .col-md-8 .tab-content .slick-next {
  top: 40%;
  right: 1%;
  z-index: 15;
  background-color: transparent;
}

.discovery .row .col-md-8 .tab-content .slick-prev:before,
.discovery .row .col-md-8 .tab-content .slick-next::before {
  font-size: 60px;
  opacity: 1;
  color: #ea5252;
}

.under-discovery {
  background-color: #f7f8fa;
}

.under-discovery .row {
  padding: 2rem 0;
  gap: 1rem;
}

.under-discovery .row .col {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #e8e9eb;
}

.under-discovery .row .col .details .icon {
  padding-right: 1rem;
}

.under-discovery .row .col .details .description p {
  font-size: 19px;
  font-weight: 700;
  margin: initial;
}

.under-discovery .row .col .details .description span {
  color: #7b8089;
}

.viewing {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.viewing .title-viewing {
  margin: initial;
  font-size: 19px;
  margin-left: -5px;
  color: #505763;
}

.viewing .row {
  padding-top: 1rem;
}

.viewing .row .col-md-12 {
  padding: 0 0.5rem;
}

.viewing .row .col-md-12 .details {
  border: 1px solid #e3e3e5;
}

.viewing .row .col-md-12 .details .pic img {
  width: 100%;
  border-bottom: 1px solid #e3e3e5;
}

.viewing .row .col-md-12 .details .description {
  padding: 1rem;
}

.viewing .row .col-md-12 .details .description h1 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.viewing .row .col-md-12 .details .description p {
  font-size: 12px;
  color: #7b8089;
  margin-bottom: 5px;
}

.viewing .row .col-md-12 .details .description i {
  color: #f4c150;
  font-size: 13px;
}

.viewing .row .col-md-12 .details .description span {
  font-size: 13px;
  color: #7b8089;
}

.viewing .row .col-md-12 .details .description .before {
  font-weight: 700;
}

.viewing .row .col-md-12 .details .description .price {
  text-align: right;
}

.viewing .row .col-md-12 .details .description .price del {
  font-size: 13px;
}

.viewing .row .col-md-12 .details .description .price span {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.viewing .row .slick-prev {
  top: 40%;
  left: -4%;
  z-index: 15;
  background-color: transparent;
}

.viewing .row .slick-next {
  top: 40%;
  right: 1%;
  z-index: 15;
  background-color: transparent;
}

.viewing .row .slick-prev:before,
.viewing .row .slick-next::before {
  font-size: 60px;
  opacity: 1;
  color: #ea5252;
}

.linear-gradient-nav {
  height: 8px;
  background: linear-gradient(to right, #731c52, #e54e52);
}

.banner {
  background-color: #29303a;
}

.banner .row-icon,
.banner .container {
  justify-content: space-around;
  font-size: 2rem;
  color: #fff;
}

.banner .container {
  text-align: center;
}

.banner .container .row {
  align-items: center;
  justify-content: center;
}

.banner .container .row .icon-left {
  padding-left: 4rem;
}

.banner .container .row .icon-right {
  padding-right: 4rem;
}

.banner .container .row .details h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner .container .row .details p {
  font-size: 15px;
  margin-bottom: 1.5rem;
}

.banner .container .row .details button {
  font-size: 15px;
  background-color: #ec5252;
  color: #fff;
  padding: 11px 12px;
  border: none;
  outline: none;
  font-weight: 700;
  transition: all 0.3s;
}

.banner .container .row .details button:hover {
  background-color: #992337;
}

.banner .row-icon {
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.categories-section {
  margin: 2rem 0;
}

.categories-section .container h1 {
  font-size: 1.5rem;
  color: #29303a;
  margin-left: -15px;
}

.categories-section .container .row {
  margin-top: 1rem;
}

.categories-section .container .row .col-xl-3 {
  color: #2f3236;
}

.categories-section .container .row .col-xl-3 .details {
  padding: 15px;
  font-size: 15px;
  border: 1px solid #eaeaeb;
  cursor: pointer;
  box-shadow: 0px 9px 11px 0px #e3e3e3;
  margin-bottom: 0.8rem;
}

.categories-section .container .row .col-xl-3 i {
  padding: 0 1rem 0 0;
  color: #2f3236;
}

.comment {
  background-color: #f7f8fa;
  padding: 2rem 0;
}

.comment .container h1 {
  font-size: 1.5rem;
  color: #29303a;
  margin-left: -15px;
}

.comment .container .row {
  margin-top: 2rem;
}

.comment .container .row .col-md-12 {
  padding: 0 0.5rem;
}

.comment .container .row .col-md-12 .details {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.comment .container .row .col-md-12 .details .img {
  align-items: center;
}

.comment .container .row .col-md-12 .details .img img {
  width: 4rem;
  border-radius: 100%;
}

.comment .container .row .col-md-12 .details .img span {
  margin-left: 1rem;
  font-weight: 600;
}

.comment .container .row .col-md-12 .details .comment-text p {
  margin-top: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.comment .container .slick-prev {
  top: 40%;
  left: -3%;
  z-index: 15;
  background-color: transparent;
}

.comment .container .slick-next {
  top: 40%;
  right: 1%;
  z-index: 15;
  background-color: transparent;
}

.comment .container .slick-prev:before,
.comment .container .slick-next::before {
  font-size: 60px;
  opacity: 1;
  color: #ea5252;
}

.partners {
  background-color: #f7f8fa;
}

.partners .partners-text {
  padding: 1rem 0 1.5rem 0;
  text-align: center;
  font-size: 13px;
  color: #8f949d;
  font-weight: 200;
}

.partners a {
  z-index: 15;
}

.partners a .partners-logos {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
}

.partners a .partners-logos img {
  max-height: 20px;
}

.non-student {
  background-color: #f7f8fa;
  text-align: center;
  padding: 2rem 0;
}

.non-student .row-non .border-between {
  border-right: 1px solid #dedfe0;
}

.non-student .row-non .column {
  width: 50%;
}

.non-student .row-non .column h1 {
  font-size: 19px;
  font-weight: 700;
}

.non-student .row-non .column .details {
  width: 70%;
  margin: 0 auto;
  padding: 28px 30px;
}

.non-student .row-non .column .details button {
  font-size: 15px;
  background-color: #ec5252;
  color: #fff;
  padding: 11px 12px;
  border: none;
  outline: none;
  font-weight: 700;
  transition: all 0.3s;
}

.non-student .row-non .column .details button:hover {
  background-color: #992337;
}

.non-student .row-non .column .details p {
  color: #3f454f;
}

.footer {
  background-color: #dedfe0;
  color: #3f454f;
  padding: 2rem 0 1rem 0;
}

.footer .wrapper {
  flex-direction: row;
  padding-bottom: 2rem;
}

.footer .wrapper .column {
  margin: 0 15px;
  width: 25%;
  flex-direction: column;
}

.footer .wrapper .column a {
  text-decoration: none;
  color: #8f949d;
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.footer .wrapper .column a:hover,
.footer .wrapper .column a :focus {
  color: #003845;
}

.footer .wrapper .column button {
  font-size: 13px;
  color: #686f7a;
  background-color: #fff;
}

.footer .wrapper .column button i {
  padding-right: 1rem;
}

.footer .wrapper .column button span {
  padding-right: 2rem;
}

.footer .wrapper .column .btn-secondary.focus,
.footer .wrapper .column .btn-secondary:focus {
  box-shadow: none;
}

.footer .wrapper .column .dropdown-menu a {
  font-size: 13px;
  padding: 5px 15px;
}

.footer .wrapper2 {
  color: #8f949d;
  font-size: 13px;
  padding: 1rem 0;
}

.footer .wrapper2 .divide {
  flex-direction: row;
}

.footer .wrapper2 .divide .column {
  width: 50%;
}

.footer .wrapper2 .divide .column .details span {
  margin-left: 1rem;
}

.footer .wrapper2 .divide .column .right-term {
  float: right;
}

.footer .wrapper2 .divide .column .right-term a {
  text-decoration: none;
  color: #8f949d;
  margin-right: 1rem;
}

.footer .wrapper2 .divide .column .right-term a:hover,
.footer .wrapper2 .divide .column .right-term a :focus {
  color: #003845;
}

@media (min-width: 1200px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0.4rem;
  }
}

@media (max-width: 1200px) {
  .navbar-expand-md .navbar-nav .hide {
    display: none;
  }
  .how-udemy-works .row .col-md-4 .details i {
    display: none;
  }
  .how-udemy-works .row .col-md-4 .details .description p {
    text-align: center;
  }
  .discovery .row .col-md-8 .nav-tabs .nav-link {
    padding: 0px 10px 11px 10px;
  }
  .slick-prev {
    left: 0% !important;
  }
  .slick-next::before,
  .slick-prev::before {
    font-size: 30px !important;
  }
}

@media (max-width: 992px) {
  .how-udemy-works .row .col-md-4 .details .description p {
    font-size: 15px;
  }
  .how-udemy-works .row .col-md-4 .details .description span {
    display: block;
    text-align: center;
  }
  .discovery .row .hide {
    display: none !important;
  }
  .under-discovery .row .col .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .under-discovery .row .col .details p {
    padding-top: 0.5rem;
    font-size: 15px !important;
    text-align: center;
  }
  .under-discovery .row .col .details span {
    display: block;
    text-align: center;
  }
  .banner .row-icon i,
  .banner .container i {
    display: none;
  }
}

@media (max-width: 768px) {
  .how-udemy-works {
    display: none;
  }
  .viewing .container,
  .categories-section .container,
  .comment .container,
  .discovery .container,
  .under-discovery .container {
    max-width: 750px !important;
  }
  .under-discovery .row {
    flex-direction: column;
  }
  .slick-next::before,
  .slick-prev::before {
    display: none !important;
  }
  .footer .hide {
    display: none !important;
  }
  .navbar-expand-md .header-left .hide {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */