@mixin search(
  $height,
  $padding-top-bottom,
  $padding-left-right,
  $font-size,
  $padding-top-bottom-i,
  $padding-left-right-i,
  $width-i,
  $height-i,
  $line-height-i,
  $font-size-i
) {
  form {
    flex-grow: 5;
    position: relative;

    .form-control {
      border: none;
      background-color: #f2f3f5;
      height: #{$height}px;
      padding: #{$padding-top-bottom}px #{$padding-left-right}px;
      font-size: #{$font-size}px;
      // height: 44px;
      // padding: 10px 12px;
      // font-size: 12px;
    }

    .form-control:focus {
      border: none;
      box-shadow: none;
    }

    i {
      padding: #{$padding-top-bottom-i}px #{$padding-left-right-i}px;
      color: #ec5252;
      background-color: #f2f3f5;
      width: #{$width-i}rem;
      height: #{$height-i}rem;
      line-height: #{$line-height-i}rem;
      font-size: #{$font-size-i}rem;
      // width: 2.75rem;
      // height: 2.75rem;
      // line-height: 1.375rem;
      // font-size: 0.875rem;

      &:hover {
      }
    }
  }
}

@mixin slide() {
  .col-md-12 {
    .details {
      .pic {
        img {
          width: 100%;
          border-bottom: 1px solid #e3e3e5;
        }
      }
      .description {
        h1 {
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        p {
          font-size: 12px;
          color: #7b8089;
          margin-bottom: 5px;
        }

        i {
          color: #f4c150;
          font-size: 13px;
        }

        span {
          font-size: 13px;
          color: #7b8089;
        }

        .before {
          font-weight: 700;
        }

        .price {
          del {
            font-size: 13px;
          }
          span {
            font-size: 18px;
            font-weight: 700;
            color: #000;
          }
          text-align: right;
        }
        padding: 1rem;
      }
      border: 1px solid #e3e3e5;
    }
    padding: 0 0.5rem;
  }
  padding-top: 1rem;
  .slick-prev {
    top: 40%;
    // left: -1%;
    // left: -1%;
    z-index: 15;
    border-radius: 100%;
  }
  .slick-next {
    content: "$slick-next-character";
    top: 40%;
    right: 0.5%;
    z-index: 15;
    border-radius: 100%;
  }
  .slick-prev:before,
  .slick-next::before {
    color: #007791;
    font-size: 50px;
    opacity: 1 !important;
  }
}

@mixin button() {
  button {
    font-size: 15px;
    background-color: #ec5252;
    color: #fff;
    padding: 11px 12px;
    border: none;
    outline: none;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
      background-color: #992337;
    }
  }
}
