.footer {
  background-color: #dedfe0;
  color: #3f454f;
  padding: 2rem 0 1rem 0;

  .wrapper {
    flex-direction: row;
    padding-bottom: 2rem;
    .column {
      margin: 0 15px;
      width: 25%;
      flex-direction: column;
      a {
        text-decoration: none;
        color: #8f949d;
        font-size: 13px;
        margin-bottom: 0.5rem;

        &:hover,
        :focus {
          color: #003845;
        }
      }

      button {
        font-size: 13px;
        color: #686f7a;
        background-color: #fff;
        i {
          padding-right: 1rem;
        }
        span {
          padding-right: 2rem;
        }
      }
      .btn-secondary.focus,
      .btn-secondary:focus {
        box-shadow: none;
      }

      .dropdown-menu {
        a {
          font-size: 13px;
          padding: 5px 15px;
        }
      }
    }
  }

  .wrapper2 {
    color: #8f949d;
    font-size: 13px;
    padding: 1rem 0;
    .divide {
      flex-direction: row;
      .column {
        width: 50%;

        .details {
          span {
            margin-left: 1rem;
          }
        }

        .right-term {
          float: right;
          a {
            text-decoration: none;
            color: #8f949d;
            margin-right: 1rem;
            &:hover,
            :focus {
              color: #003845;
            }
          }
        }
      }
    }
  }
}
