.how-udemy-works {
  background: linear-gradient(to right, #731c52, #e54e52);
  color: $color-white;
  .row {
    .col-md-4 {
      .details {
        i {
          font-size: 3rem;
          padding-right: 1rem;
        }
        .description {
          p {
            margin: initial;
            font-weight: 700;
          }
        }
        margin-left: 2rem;
      }
    }
    padding: 1rem 0;
  }
}
